<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="600 seconds">

    <property scop="context" name="FILE_NAME" value="flashtsdb"/>
    <timestamp key="date_pattern" datePattern="yyyy-MM-dd"/>

    <!-- IDEA Print color log dependent rendering class -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <!-- ############ The following sets the log output format according to the deployment environment ############ -->

    <!-- 1. Local development environment, console output -->
    <springProfile name="dev">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>[%clr(%d{HH:mm:ss.SSS}){faint}] [%clr(${LOG_LEVEL_PATTERN:-%5p})] %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(%4.4L){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>
        <!-- 日志输出级别 -->
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>

        <!-- Configure the logging output level of third-party packages to avoid refresh during debugging -->
        <logger name="org.springframework.boot" level="WARN"/>
    </springProfile>

    <!-- 2. Test environment, output to file -->
    <springProfile name="prod">
        <appender name="PROD" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- Generate one log file per day, up to 60, and automatically roll back -->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>/var/log/flashtsdb-%d.log</fileNamePattern>
                <maxHistory>60</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>[%d{HH:mm:ss.SSS}] [%5p] [%15.15t] %-40.40logger{39} %4.4L : %m%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <!-- Log output level -->
        <root level="INFO">
            <appender-ref ref="PROD"/>
        </root>
    </springProfile>


</configuration>